body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

#hero {
    background-image: url('p6.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-content p {
    font-size: 1.5em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom:10px;
}

.flex-container img {
    max-width: 40%; 
    height:80vh;
    border-radius: 10px;
    margin-left: 20px;
}

.text-content {
    max-width: calc(55% - 20px);  
    margin-right: 20px; 
}
h2 {
    color: #2c3e50;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
section#intro, section + section {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container img, .text-content {
        max-width: 100%;
        text-align: center;
    }
}
